<div class="row">
  <div class="span12 well">
    <form class="form-horizontal" method="post" action="new">
      <div class="control-group">
        <div class="controls">
          <h4>Your answer:</h4>
        </div>
      </div>
      <% (1...@nu).each do |e| %>
        <% s = e.to_s %>
      <div class="control-group">
        <label class="control-label"><span class="badge badge-<%= @c[e] ? "success" : "important" %>"><%= @c[e] ? "✔" : "✗" %></span></label> 
        <div class="controls">
          <label><%= "#{@q[s]} " %><%= @a[s] == '' ? "?" : "#{@a[s]}" %></label>
        </div>
      </div>
      <% end %>
      <div class="control-group">
        <div class="controls">
          <label>Score: <%= "#{@r}" %> / <%= @nu - 1 %></label>
          <input type="hidden" value="<%= "#{@count[:count]}" %>" name="count[count]">
          <input type="hidden" value="<%= "#{@count[:correct]}" %>" name="count[correct]">
          <input type="hidden" value="<%= "#{@option[:type]}" %>" name="option[type]">
          <input type="hidden" value="<%= "#{@level[:level]}" %>" name="level[level]">
          <input type="hidden" value="<%= "#{@option[:arc]}" %>" name="option[arc]">
          <input type="hidden" value="<%= "#{@option[:nu]}" %>" name="option[nu]">
          <input type="submit" value="Next" class="btn"/>
        </div>
      </div>
    </form>
  </div>
</div>
<a href="index" class="btn">Restart</a>
