<% w = 0 %>
<% r = 0 %>
Your answer:<br />
<% (1..10).each do |e| %>
  <% s = e.to_s %>
  
  <% if @a[s] != "" && (@a[s].to_i == @c[s].to_i) %>
    <% r += 1 %>
    <span style="color:green"><%= "#{@q[s]} #{@a[s]}"%></span>
  <% elsif %>
    <% w += 1 %><span style="color:red"><%= "#{@q[s]} #{@a[s]}"%></span>
  <% end %>
  <br />
<% end %>
Score: <%= "#{r}" %> / 10
<form method="post" action="new">
  <% @count[:count] = @count[:count].to_i + 10 %>
  <% @count[:correct] = @count[:correct].to_i + r %>
  <input type="hidden" value="<%= "#{@count[:count]}" %>" name="count[count]">
  <input type="hidden" value="<%= "#{@count[:correct]}" %>" name="count[correct]">
  <input type="hidden" value="<%= "#{@option[:type]}" %>" name="option[type]">
  <% cc = (@count[:correct].to_f / @count[:count].to_f) %>
  <% case %>
  <%   when cc > 0.8 %>
  <%     @level[:level] = @level[:level].to_i + 1 %>
  <%   when cc < 0.2 %>
  <%     @level[:level] = @level[:level].to_i - 1 %>
  <% end %>
  <input type="hidden" value="<%= "#{@level[:level]}" %>" name="level[level]">
  <input type="submit" value="Next" />
</form>
<button><a href="index">Restart</a></button>
