<div class="row">
  <div class="span12 well">
    <form class="form-horizontal" method="post" action="new">
      <div class="control-group">
        <div class="controls">
          <h4>Your answer:</h4>
        </div>
      </div>
      <% (1...@nu).each do |e| %>
        <% s = e.to_s %>
      <div class="control-group">
        <label class="control-label"><span class="badge badge-<%= @c[e] ? "success" : "important" %>"><%= @c[e] ? "✔" : "✗" %></span></label> 
        <div class="controls">
          <label><%= "#{@q[s]} " %><%= @a[s] == '' ? "?" : "#{@a[s]}" %></label>
        </div>
      </div>
      <% end %>
      <div class="control-group">
        <div class="controls">
          <label>Score: <%= "#{@r}" %> / <%= @nu - 1 %></label>
          <input type="hidden" name="count[count]" value="<%= "#{@count[:count]}" %>">
          <input type="hidden" name="count[correct]" value="<%= "#{@count[:correct]}" %>">
          <input type="hidden" name="option[type]" value="<%= "#{@option[:type]}" %>">
          <input type="hidden" name="level[level]" value="<%= "#{@level[:level]}" %>">
          <input type="hidden" name="option[arc]" value="<%= "#{@option[:arc]}" %>">
          <input type="hidden" name="option[nu]" value="<%= "#{@option[:nu]}" %>">
          <input type="hidden" name="count[number]" value="1" />
          <input type="submit" value="Next" class="btn"/>
        </div>
      </div>
    </form>
  </div>
</div>
<a href="index" class="btn">Restart</a>
