<% w = 0 %>
<% r = 0 %>
<div class="row">
  <div class="span12 well">
    <form class="form-horizontal" method="post" action="new">
      <div class="control-group">
        <div class="controls">
          <h4>Your answer:</h4>
        </div>
      </div>
      <% nu = @option[:nu].to_i %>
      <% (1...nu).each do |e| %>
      <div class="control-group">
        <% s = e.to_s %>
        <% if @a[s] != "" && (@a[s].to_i == @c[s].to_i) %>
          <% r += 1 %>
        <label class="control-label"><span class="badge badge-success">✔</span></label> 
        <div class="controls">
          <label><%= "#{@q[s]} #{@a[s]}" %></label>
        </div>
        <% elsif %>
          <% w += 1 %>
        <label class="control-label"><span class="badge badge-important">✗</span></label>
        <div class="controls">
          <label><%= @a[s] == '' ? "#{@q[s]} ?" : "#{@q[s]} #{@a[s]}" %></label>
        </div>
        <% end %>
      </div>
      <% end %>
      <div class="control-group">
        <div class="controls">
          <label>Score: <%= "#{r}" %> / <%= nu - 1 %></label>
          <% @count[:count] = @count[:count].to_i + nu - 1 %>
          <% @count[:correct] = @count[:correct].to_i + r %>
          <input type="hidden" value="<%= "#{@count[:count]}" %>" name="count[count]">
          <input type="hidden" value="<%= "#{@count[:correct]}" %>" name="count[correct]">
          <input type="hidden" value="<%= "#{@option[:type]}" %>" name="option[type]">
          <% cc = (@count[:correct].to_f / @count[:count].to_f) %>
          <% case %>
            <% when cc > 0.8 %>
            <%   @level[:level] = @level[:level].to_i + 1 %>
            <% when cc < 0.2 %>
            <%   @level[:level] = @level[:level].to_i - 1 %>
          <% end %>
          <input type="hidden" value="<%= "#{@level[:level]}" %>" name="level[level]">
          <input type="hidden" value="<%= "#{@option[:arc]}" %>" name="option[arc]">
          <input type="hidden" value="<%= "#{@option[:nu]}" %>" name="option[nu]">
          <input type="submit" value="Next" class="btn"/>
        </div>
      </div>
    </form>
  </div>
</div>
<a href="index" class="btn">Restart</a>
