<div class="row">
  <div class="span6">
    <div class="well">
      <form class="form-horizontal" action="create" method="post">
        <% nu = @option[:nu].to_i %>
        <% (1...nu).each do |e| %>
        <div class="control-group">  
          <label class="control-label"><%= "#{@q[e]}" %></label>
          <input type="hidden" name="q[<%= "#{e}" %>]" value="<%= "#{@q[e]}" %>" />
          <input type="hidden" name="c[<%= "#{e}" %>]" value="<%= "#{@c[e]}" %>" />
          <div class="controls">
            <input type="text" name="a[<%= "#{e}" %>]" />
          </div>
        </div>
        <% end %>
        <input type="hidden" name="option[type]" value="<%= "#{@option[:type]}" %>" />
        <input type="hidden" name="option[arc]" value="<%= "#{@option[:arc]}" %>" />
        <input type="hidden" name="option[nu]" value="<%= "#{@option[:nu]}" %>" />
        <input type="hidden" name="count[correct]" value="<%= "#{@count[:correct]}" %>" />
        <input type="hidden" name="count[count]" value="<%= "#{@count[:count]}" %>" />
        <input type="hidden" name="level[level]" value="<%= "#{@level[:level]}" %>" />
        <div class="control-group">  
         <div class="controls">
           <input type="submit" value="Answer" class="btn"/>
         </div>
        </div>
      </form>
    </div>
  </div>
  <div class="span6">
    <div class="well">
     <h4>草稿區加工中</h4>
    </div>
  </div>
</div>
<a href="index" class="btn">Restart</a>
