<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap/docs/assets/css/bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "simplex", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <%= yield %>
  </div>
</body>
</html>
